.landing {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "hero hero hero"
    "login login login"
    "new new new"
    "articles . featured"
    "kennels kennels kennels";
    grid-gap: 2rem;
}

.landing__hero-box {
    height: 33vh;
    background-image: url("https://images.pexels.com/photos/2774140/pexels-photo-2774140.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-color: black;
    background-position: center;
    background-size: cover;
    padding: 2rem;
    grid-area: hero;
}

.landing__hero-title {
    font-size: 4rem;
    color: var(--gold);
}

.landing__hero-button {
    font-size: 2rem;
    color: var(--dark-blue);
    text-align: right;
    background-color: var(--gold);
    border: 1px solid var(--orange);
    border-radius: .25rem;
    padding: .5rem;
    margin: .5rem 0;
    text-decoration: none;
    display: inline-block;
}

.landing__hero-button:hover {
    cursor: pointer;
    color: var(--gold);
    background-color: var(--dark-blue);
}

.landing__login-signup {
    grid-area: login;
    /* height: 15vh; */
    margin: 0 1rem;
}

.landing__login-signup-title {
    font-size: 2rem;
    text-align: center;
    color: var(--orange);
    padding: .25rem;
}

.landing__login-signup-content {
    padding: .25rem;
}

.landing__login-signup-button {
        font-size: 1rem;
        color: var(--dark-blue);
        text-align: right;
        background-color: var(--gold);
        border: 1px solid var(--orange);
        border-radius: .25rem;
        padding: .5rem;
        margin: .5rem 0;
        text-decoration: none;
        display: inline-block;
}

.landing__new-content {
    grid-area: new;
    /* height: 15vh; */
    margin: 0 1rem;
}

.landing__articles {
    grid-area: articles;
    margin: 0 1rem;
}

.landing__kennels {
    grid-area: kennels;
    margin: 0 1rem;
}

.landing__featured {
    grid-area: featured;
    margin: 0 1rem;
}